/* H5对象的全局样式 */
.h5{
    height: 125vw;
    width: 100vw;
    margin: 0 auto;
}
.h5_page{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ddd;
    background-size: 100%;
    background-repeat: no-repeat;
}
